MONGO_URI=mongodb+srv://HearingUser:hearing1234@hearingcluster.z3ya4it.mongodb.net/?retryWrites=true&w=majority
DB_NAME=hearingdb
AUDIO_ROOT=hearing_project_v0.01\swara_audio_cloud
PREFER_GENERATION=true
MAX_VOWEL_TESTS=5
HOST=127.0.0.1
PORT=8000
API_KEY=changeme

